h1 {
     font-family: arial, sans-serif;
     text-align: center;
     padding: 1em;
     border: 3px solid black;
     background-color: #E0E0E0;
     display: inline-block;
 }

h2 {
    font-family: arial, sans-serif;
    text-align: center;
    padding: 1em;
    border: 3px solid black;
    background-color: lawngreen;
    display: inline-block;
}

.beschreibung {
    font-family: arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: black;
}

.text_schwarz {
    font-family: arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: black;
}

.di {
    background-color: rgb(243, 247, 129);
    width: 50px;
}

.dq {
    background-color: rgb(169, 245, 225);
    width: 80px;
}

.ai {
    font-family: arial, sans-serif;
    background-color: rgb(201, 42, 172);
}

.aq {
    font-family: arial, sans-serif;
    background-color: rgb(42, 201, 201);
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}